@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 300px 1fr;
}

header {
    background-color: rgb(196, 70, 70);
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    box-shadow: 0px 0px 5px black;
}

.title {
    padding-left: 20px;
    color: white;
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.title:hover {
    opacity: 0.5;
}

.bod {
    background-color: rgb(255, 255, 255);
}

.mobile {
    padding: 0;
    position: absolute;
    left: 20px;
    z-index: 105;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.piece:nth-child(1) {
    width: 40px;
    height: 5px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    background-color: white;
}

.piece:nth-child(2) {
    width: 40px;
    height: 5px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    background-color: white;
}

.piece:nth-child(3) {
    width: 40px;
    height: 5px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    background-color: white;
}

.mobile:hover {
    opacity: 0.5;
}

.panel {
    background-color: rgba(188, 188, 188, 0.123);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.139);
    position: relative;
    transition: 1s ease-in-out;
    left: 0;
    font-family: 'Kodchasan', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabOne,
.tabTwo,
.tabThree {
    display: flex;
    padding-left: 25px;
    gap: 5px;
    letter-spacing: 1px;
    align-items: center;
    transition: 0.35s ease-in-out;
    user-select: none;
    height: 50px;
    cursor: pointer;
    background-color: white;
}

.tabOne {
    background-color: rgb(196, 70, 70);
    color: white;
}

.tab svg {
    margin-top: 3px;
}

.project svg {
    margin-top: 2px;
}

.tab:hover,
.new:hover,
.newtask:hover {
    opacity: 0.4;
}

.nope {
    /* margin-left: auto; */
    border: none;
    background-color: white;
    opacity: 1;
    outline: none;
    transition: 0.35s ease-in-out;
    margin-top: 10px;
    cursor: pointer;
}

.noper {
    margin-left: auto;
    border: none;
    background-color: transparent;
    opacity: 1;
    outline: none;
    transition: 0.35s ease-in-out;
    cursor: pointer;
    padding-right: 30px;
}

.new:hover {
    color: black;
}

.clickexit {
    border: none;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    transition: 0.35s ease-in-out;
}
.nope:hover svg,
.clickexit:hover {
    color: red;
}

.noper:hover {
    color: red;
    opacity: 1;
}

.task h3 {
    user-select: none;
}
.dueofdate {
    margin-left: auto;
}

.formed {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.201);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    height: 200px;
    display: flex;
    padding: 25px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Kodchasan', sans-serif;
    padding-bottom: 5px;
}

.buttoncreate {
    font-family: 'Kodchasan', sans-serif;
    background-color: rgb(196, 70, 70);
    border-radius: 25px;
    border: none;
    user-select: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.35s ease-in-out;
}

.buttoncreate:hover {
    opacity: 0.5;
}

input {
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 10px;
    width: 300px;
}

.project {
    display: flex;
    padding-left: 25px;
    gap: 5px;
    letter-spacing: 1px;
    align-items: center;
    transition: 0.35s ease-in-out;
    user-select: none;
    height: 50px;
}

.projectheld {
    display: flex;
    align-items: center;
    transition: 0.35s ease-in-out;
}

.new {
    padding-left: 80px;
    cursor: pointer;
}

.new svg {
    transition: 0.35s ease-in-out;
}

.main {
    padding-left: calc(100% / 25);
    transition: 1s ease-in-out;
    position: relative;
    left: 0;
}

.todo {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 700;
    transition: 0.25s ease-in-out;
    user-select: none;
    padding-bottom: 35px;
}

input[type='checkbox']:checked {
    background-color: rgba(88, 243, 88, 0.389);
    border-color: rgb(88, 243, 88);
}

input[type='checkbox']::before {
    opacity: 0;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 10px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: greenyellow;
}

input[type='checkbox'] {
    margin-top: 10px;
    position: relative;
    appearance: none;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    transition: 0.35s ease-in-out;
}

input[type='checkbox']:hover {
    opacity: 0.5;
    cursor: pointer;
}

.task {
    font-family: 'Kodchasan', sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 15px;

    transition: 0.35s ease-in-out;
    border-bottom: 1px solid grey;
    padding: 5px;
    width: 80%;
}

textarea {
    font-family: 'Kodchasan', sans-serif;
    appearance: none;
    outline: none;
    border: none;
    resize: none;
    height: 1.25rem;
    width: 80%;
}

.newtask {
    user-select: none;
    cursor: pointer;
}

.yesno {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    transition: 0.35s ease-in-out;
}

.yes {
    transition: 0.35s ease-in-out;
    opacity: 0;
    background-color: rgb(112, 198, 112);
    border-radius: 50%;
    padding: 5px;
    border: none;
}

.no {
    transition: 0.35s ease-in-out;
    opacity: 0;
    background-color: rgb(198, 122, 112);
    border-radius: 50%;
    padding: 5px;
    border: none;
}
input[type='text'] {
    /* padding-left: 10px; */
    transition: 0.35s ease-in-out;
    opacity: 0;
    border-radius: 15px;
    margin-left: 50px;
    height: 25px;
    width: 190px;
    border: 1px solid black;
}

.anscover {
    margin-left: 50px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.yes:hover,
.no:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.newer {
    user-select: none;
}
